/* PHASE 4: Footer */

.footer {
  display: block;
  background: white;
  padding: 20px;
  width: 900px;
  margin: 0 auto;
}

.footer-copy {
  float: left;
  color: #ccc;
}

.footer-links {
  float: right;
  color: #ccc;
}

.footer-links > li {
  color: #ccc;
  float: left;
  padding: 0 10px;
}

.footer a {
  color: #ccc;
}

.footer a:hover {
  color: black;
}
